.contact-cta {
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(10,10,10,0.3);
  box-shadow: 0 0.2rem 0.25rem rgba(10,10,10,0.3);
  padding: 2rem;
  border-radius: 1rem;

  p {
    margin-top: 1rem;
  }

  input {
    height: 3rem;
  }
}

@media (max-width: 990px) {
  .contact-cta {
    font-size: 0.9rem;
  }
}

@media (max-width: 990px) {
  form {
    width: 20rem;
  }
}

@media (max-width: 360px) {
  form {
    width: 15rem;
  }
}
