<div class="container">
  <div class="section-heading text-center my-5">
    <a id="contact"><h1>CONTACT</h1></a>
  </div>

  <div class="contact-cta text-center mb-3">
    <p>Want to connect or have a chat? Drop me a message and let's talk.</p>
  </div>

  <div class="contact-container d-flex justify-content-center mb-5">
    <div class="contact-form">
      <form action="https://getform.io/f/86bfb058-c601-4bfd-888d-3b41ebc616cf" method="POST">
        <p class="mt-0">Name:</p>
        <input type="text" name="name" class="pl-2" required>
        <p>Email:</p>
        <input type="email" name="email" class="pl-2" required>
        <p>Message:</p>
        <textarea name="message" rows="3" cols="20" placeholder="Leave a message..." class="p-2" required></textarea>
        <button type="submit" class="btn btn-danger mt-3">Send</button>
      </form>
    </div>
  </div>
</div>
