<div class="container">
  <section class="about">
    <div class="hero-image">
      <%= image_tag "profile-photo.jpg", alt: "rhys_photo", class: "hero-avatar" %>
    </div>
    <div class="hero-content">
      <h1>Hi, I'm Rhys</h1>
      <div class="small-bio">
        <p>Full-stack web developer with a background in digital marketing. Looking for opportunities in front end, back end, or full-stack development roles. Approaching a new career with a growth mindset.</p>
      </div>
      <ul class="socials-list">
        <li><a href="https://github.com/RhysMalyon" target="_blank"><i class="fab fa-github-square social-link pr-4"></i></a></li>
        <li><a href="https://www.linkedin.com/in/rhysmalyon/" target="_blank"><i class="fab fa-linkedin social-link pr-4"></i></a></li>
        <li><a href="https://www.instagram.com/rhysmalyon/" target="_blank"><i class="fab fa-instagram social-link pr-4"></i></a></li>
        <li><a href="#" target="_blank" class="resume-link">Resume</a></li>
      </ul>
    </div>
  </section>
</div>
