<header class="">
  <a href="#" class="logo">Rhys Malyon</a>
  <div class="nav-cta">
    <a href="#" class="nav-link">Projects</a>
    <a href="#" class="nav-link">Contact</a>
  </div>
  <div class="toggle"></div>
  <nav class="">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#hero">About</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="arrow-container">
    <svg width="30" height="15" viewBox="0 0 58 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="arrow-down" fill-rule="evenodd" clip-rule="evenodd"
        d="M1.81802 1.81802C3.57538 0.0606602 6.42462 0.0606602 8.18198 1.81802L29 22.636L49.818 1.81802C51.5754 0.0606602 54.4246 0.0606602 56.182 1.81802C57.9393 3.57538 57.9393 6.42462 56.182 8.18198L32.182 32.182C30.4246 33.9393 27.5754 33.9393 25.818 32.182L1.81802 8.18198C0.0606602 6.42462 0.0606602 3.57538 1.81802 1.81802Z"
        fill="black" />
    </svg>
  </div>
</header>
