<header class="sticky">
  <a href="/" class="logo">Rhys Malyon</a>
  <div class="toggle"></div>
  <nav class="" id="nav-list">
    <ul>
      <li><a href="/#hero">About</a></li>
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </nav>
</header>
