<div class="inner-wrapper">
  <header>
    <div class="hero-image">
      <%= image_tag "profile-photo.jpg", alt: "rhys_photo", class: "hero-avatar" %>
    </div>
    <div class="hero-content">
      <h1>Hi, I'm Rhys</h1>
      <div class="small-bio">
        <p>Full-stack web developer with a background in digital marketing. Looking for opportunities in front end, back end, or full-stack development roles. Approaching a new career with a growth mindset.</p>
      </div>
      <ul class="socials-list">
        <li><a href="https://github.com/RhysMalyon" target="_blank"><i class="fab fa-github-square social-link pr-4"></i></a></li>
        <li><a href="https://www.linkedin.com/in/rhysmalyon/" target="_blank"><i class="fab fa-linkedin social-link pr-4"></i></a></li>
        <li><a href="https://www.instagram.com/rhysmalyon/" target="_blank"><i class="fab fa-instagram social-link pr-4"></i></a></li>
        <li><a href="#" target="_blank" class="resume-link">Resume</a></li>
      </ul>
    </div>
    <div class="arrow-container">
      <svg width="50" height="30" viewBox="0 0 58 34" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="arrow-down" fill-rule="evenodd" clip-rule="evenodd"
          d="M1.81802 1.81802C3.57538 0.0606602 6.42462 0.0606602 8.18198 1.81802L29 22.636L49.818 1.81802C51.5754 0.0606602 54.4246 0.0606602 56.182 1.81802C57.9393 3.57538 57.9393 6.42462 56.182 8.18198L32.182 32.182C30.4246 33.9393 27.5754 33.9393 25.818 32.182L1.81802 8.18198C0.0606602 6.42462 0.0606602 3.57538 1.81802 1.81802Z"
          fill="#001640" />
      </svg>
    </div>
  </header>
</div>
