<div class="inner-wrapper">
  <header>
    <div class="hero-image">
      <%= image_tag "profile-photo.jpg", alt: "rhys_photo", class: "hero-avatar" %>
    </div>
    <div class="hero-content">
      <h1>Hi, I'm Rhys</h1>
      <div class="small-bio">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt placeat excepturi alias saepe provident, quos quam veniam eos praesentium possimus.</p>
      </div>
      <ul class="list-inline d-flex">
        <li><a href="https://github.com/RhysMalyon" target="_blank"><i class="fab fa-github-square pr-3"></i></a></li>
        <li><a href="https://www.linkedin.com/in/rhysmalyon/" target="_blank"><i class="fab fa-linkedin pr-3"></i></a></li>
        <li><a href="https://www.instagram.com/rhysmalyon/" target="_blank"><i class="fab fa-instagram pr-3"></i></i></a></li>
      </ul>
    </div>
  </header>
</div>
